/* MEDIA QUERIES  */

@media only screen and (max-device-width: 1115px) {
  /* First Container (header+section) */

  /* .firstcontainer {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  } */
  /* HEADER */

  header {
    min-height: 5rem;
    display: flex;
    flex-flow: row wrap;
    line-height: 8rem;
  }
  header ul {
    margin: auto;
  }

  .logo {
    display: flex;
    flex: row;
    margin: 0.5rem 2rem;
  }
  .logo img {
    margin: 0.5rem 0;
  }

  .logo a {
    /* font-size: 3rem; */
    margin: 0rem 1rem;
  }

  /* Section : Transform */

  .transform {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 5rem 5rem;
  }

  .text-transform {
    text-align: center;
  }

  .transform img {
    width: 450px;
  }
  .text-transform h1 {
    font-size: 4.5rem;
  }
  .red-h1 {
    font-size: 6.5rem;
  }

  /* OFFER */
  .formules {
    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: repeat(2, 38rem);
    grid-template-rows: 9rem 1fr auto repeat(2, auto);
    grid-template-areas:
      "h2 h2"
      "sep sep"
      "f1 f3"
      "f2 f2 "
      "button button";
    place-content: center center;
    place-items: start center;
    gap: 1.5rem;
  }
  .formule {
    margin-bottom: 2rem;
    /* modif */
    min-height: 60rem;
  }

  .formules a {
    margin-bottom: 5rem auto;
  }

  /* WHOAMI */
  .whoami {
    background: var(--background2);
    padding: 3rem 3rem;
    min-height: 100vh;
  }

  .container-whoami {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .whoami h2 {
    text-align: center;
  }
  .whoami h3 {
    line-height: 2.5rem;
  }

  .whoami img {
    align-self: center;
    width: 400px;
    margin: 3rem 0;
  }
  .presentation {
    margin: 2rem;
    text-align: justify;
  }

  .formationbac p {
    margin-right: 0.5rem;
  }
  .whoami a {
    margin: 3rem auto;
  }

  .whoami p {
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
  }

  .whoami i {
    margin: 0 0.5rem;
    font-size: 2.5rem;
  }

  .formationbac {
    display: flex;
  }

  #bac5 {
    flex: 2;
  }

  #intitule {
    flex: 11;
    margin-right: 0;
  }

  /* FAQ */
  .faq {
    padding: 3rem 2rem;
    min-height: 70rem;
  }

  .content {
    padding: 0rem;
  }

  /* CONTACT */
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
  }
}

/* MEDIA QUERIES 1008*/
@media screen and (max-device-width: 1008px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header ul li a {
    border-left: 0;
  }

  .logo {
    padding-top: 2rem;
    margin: auto;
    /* line-height: 4rem; */
  }
  .a-dark {
    margin-bottom: 2rem;
  }
}
/* transform */
.transform {
  padding: 2rem;
}

/* formules */
.formules {
  padding: 2rem 2rem;
}

/* whoami */
.whoami {
  padding: 3rem 4rem;
}
.presentation {
  margin: 0;
}

/* testimonials */
.testimonials {
  padding: 3rem 4rem;
}

/* faq */
.content {
  width: 90%;
}

/* MEDIA QUERIES 750 */
@media screen and (max-device-width: 750px) {
  /* formules */
  .formules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formule {
    min-height: 40rem;
    max-width: 750px;
    width: 65%;
  }
  .text-transform h1 {
    font-size: 4rem;
  }
  .red-h1 {
    font-size: 5rem;
  }
}

/* MEDIA QUERIES 690 */
@media screen and (max-device-width: 690px) {
  /* header */

  .logo {
    padding: 2rem 0;
  }
  header ul {
    display: none;
  }
  /* whoami */
  .presentation {
    margin: 2rem 0;
  }

  .formation {
    margin: 1rem 0;
  }
  .experience {
    margin: 1rem 0;
  }
  .trustme {
    margin: 1rem 0;
  }

  /* transform */
  .text-transform h1 {
    font-size: 3.5rem;
  }

  .red-h1 {
    font-size: 4.5rem;
  }

  .transform {
    padding: 2 2rem;
  }

  /* testimonials */
  .testimonials-elem {
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .testimonials-elem-reverse {
    flex-direction: column-reverse;
  }
  .testimonials-elem-profil {
    margin: 1rem 0;
  }

  .testimonials-elem-profil-text {
    text-align: justify;
  }

  .testimonials-elem-profil img {
    display: block;
    margin: 2rem auto;
  }

  #bac5 {
    flex: 2;
  }

  #intitule {
    flex: 9;
    margin-right: 0;
  }
  /* faq */
  .content {
    width: 80%;
  }
}

@media screen and (max-device-width: 550px) {
  /* formules */
  .formule {
    width: 70%;
  }
  .text-transform h1 {
    font-size: 3rem;
  }
  .red-h1 {
    font-size: 4rem;
  }

  /* whoami */

  .whoami {
    padding: 2rem;
  }
  /* testimonials */
  .testimonials {
    padding: 2rem;
  }
  /* faq */
  .content {
    width: 100%;
  }
}

@media screen and (max-device-width: 490px) {
  /* formules */
  .formule {
    width: 75%;
  }

  /* transform */
  .transform {
    padding: 0;
  }

  /* transform */
  .text-transform h1 {
    font-size: 2.5rem;
  }

  .red-h1 {
    font-size: 3.5rem;
  }

  /* whoami */

  .whoami img {
    width: 310px;
    margin-top: 3rem;
  }

  #bac5 {
    flex: 2;
  }

  #intitule {
    flex: 6;
    margin-right: 0;
  }

  /* testinomials */
  .testimonials {
    max-width: 50rem;
  }
}

@media screen and (max-device-width: 400px) {
  /* transform */
  .text-transform h1 {
    font-size: 2.3rem;
  }

  .red-h1 {
    font-size: 3.2rem;
  }

  .transform {
    padding: 0;
  }
  /* formules */
  .formules {
    padding: 0;
  }
  /* formules */
  .formule {
    width: 80%;
  }

  /* contact */
  .container-contact {
    width: 90%;
  }

  /* faq */
  .faq {
    min-height: 100%;
  }
}
